
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container text-center">
        <div class="row gx-lg-5 align-items-center justify-content-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-8 mb-4 position-relative">
                            <!-- Input container to manage icon positioning -->
                            <div class="input-wrapper">
                                <input type="password" id="username" class="form-control" placeholder="New password">
                                <img src="https://upcdn.io/FW25c9q/raw/icon/key.png" alt="" class="input-icon">
                            </div>
                        </div>
                        <div class="col-md-8 mb-4 position-relative">
                            <div class="input-wrapper">
                                <input type="password" id="password" class="form-control" placeholder="verify password">
                                <img src="https://upcdn.io/FW25c9q/raw/icon/key.png" alt="" class="input-icon">
                            </div>
                        </div>
                        <!-- Centered submit button -->
                        <div class="col-md-8 text-center">
                            <button type="submit" class="btn custom-btn btn-block mb-4">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
