<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden d-flex align-items-center justify-content-center"
    style="height: 100vh;">
    <div class="container text-center">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-8 mb-4 position-relative">
                            <!-- Input container to manage icon positioning -->
                            <div class="input-wrapper">
                                <input type="text" id="username" class="form-control" placeholder="username" [(ngModel)]="username" name="username" required>
                                <img src="https://upcdn.io/FW25c9q/raw/icon/user.png" alt="" class="input-icon">
                            </div>
                        </div>
                        <div class="col-md-8 mb-4">
                            <div class="input-wrapper">
                                <input type="password" id="password" class="form-control" placeholder="password" [(ngModel)]="password" name="password" required>
                                <img src="https://upcdn.io/FW25c9q/raw/icon/padlock.png" alt="" class="input-icon">
                            </div>
                            <div class="forgot-password">
                                <a href="/forgotpassword" class="text-primary" style="margin-left:250px;">Forgot Password?</a>
                            </div>
                        </div>
                        <!-- Centered submit button -->
                        <div class="col-md-8 text-center">
                            <button type="submit" class="btn custom-btn btn-block mb-4" (click)="onSubmit()">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative d-flex justify-content-center">
                <div class="rounded-container">
                    <img src="https://upcdn.io/FW25c9q/raw/download%20(1).png" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->